<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p08-langert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FCCBB0E1EC4AC5700AAE320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCCBB281EC4AC5700AAE320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCCBB331EC4AC5800AAE320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
